<%- include('../partials/header') %>

    <h1>All drinks check</h1>
    <a href="/drinks/new">Add drink</a><br>

    <div class="drinks-container">
        <!-- <div class="row"> -->

            <% drinks.forEach(d=> { %>
                <div class="card bg-dark text-white" id="card-div">
                    <img class="card-img" src="<%= d.imageUrl %>" alt="<%= d.drink %>">
                    <div class="card-img-overlay" id="card-content">
                        <h5 class="card-title"><%= d.drink %></h5>
                        <a href="/drinks/<%= d._id %>" id="details-btn" class="btn btn-primary">Details</a>
                    </div>
                </div>
            <% }) %>

        <!-- </div> -->
    </div>

    <!-- 

<% drinks.forEach(d => { %>
    
    <img src="<%= d.imageUrl %>">
    
    <form action="/drinks/<%= d._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
    </form>
    <a href="/drinks/<%= d._id %>">Drink: <%= d.drink %> </a>
    

<% }) %> -->


    <%- include('../partials/footer') %>