<%- include('../partials/header') %>

<div id="show-page">
    <div class="show-image">
        <img src="<%=drink.imageUrl%>">
    </div>

    <div class="show-details">
        <div class="drink-recipe">
            <h1>
                <%=drink.drink%>
            </h1>
            <p><strong>Prep time: <%=drink.prepTime%> || Servings: <%=drink.serving%></strong></p>
            <p><strong>Ingredients: </strong><br><%=drink.ingredients%></p>
            <p><strong>Instructions: </strong><br><%=drink.instructions%></p>
            <div class="posted-by">
                <img class="review-avatar" src="<%= drink.postedBy.avatar %>">
                <span class="rev-name">Posted by: <br><%= drink.postedBy.name %></span>
            </div>
        </div>

        <div class="show-btns">
            <% if (user && drink.postedBy._id.toString() === user._id.toString()) { %>
                <a href="/drinks/<%= drink._id %>/edit" class="btn btn-primary del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Update Drink</a>                
            
            <% } else { %>
             
                <% if (user && user.drinks.includes(drink._id)) { %>
                    <form action="/drinks/<%= drink._id %>/myBooze/?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-warning del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Unsave Drink</button>    
                    </form>
                <% } else { %>
                    <form action="/drinks/<%= drink._id %>/myBooze" method="POST">
                        <input type="text" value="<%= drink._id %>" hidden name="drinkId"> 
                        <button type="submit" class="btn btn-success del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Save Drink</button>
                    </form>

                <% } %>
            <% } %>
        </div>   
    </div>

    <div class="reviews">
        <% if (drink.reviews.length) { %>
            <% drink.reviews.forEach(review => { %>

                <div class="review-out">
                    <div class="rev-profile">
                        <img class="review-avatar" src="<%= review.postedBy.avatar %>">
                        <span class="rev-name"><%= review.postedBy.name %></span>  
                    </div>
                    <div class="rev-content"> 
                        <span class="stars">
                        <% if (review.rating === 1) { %>
                            ⭐
                        <% } else if (review.rating === 2) { %>
                            ⭐⭐
                        <% } else if (review.rating === 3) { %>
                            ⭐⭐⭐
                        <% } else if (review.rating === 4) { %>
                            ⭐⭐⭐⭐
                        <% } else { %>
                            ⭐⭐⭐⭐⭐
                        <% } %></span>
                        <span class="content-text">"<%= review.content %>"</span>
                        <%= review.createdAt.toLocaleString().split(',')[0] %>
                    </div>
                </div>
            <% }) %>
        <% } %>  

        <div class="review-in">
            <% if (!user) { %>
                <h3 class="review-login">Please <a style="text-decoration: none;" href="/auth/google">login</a> to leave a review</h3>
            <% } else { %>
                <form action="/drinks/<%=drink._id%>" method="POST">
                    <div class="no-wrap">
                        <span>Rating: </span>
                        <select name="rating" required>
                            <option value="" disabled selected></option>
                            <option value="5">⭐⭐⭐⭐⭐</option>
                            <option value="4">⭐⭐⭐⭐</option>
                            <option value="3">⭐⭐⭐</option>
                            <option value="2">⭐⭐</option>
                            <option value="1">⭐</option>
                        </select>
                    </div>
                    <div class="no-wrap">
                        <span>Leave a Review: </span>
                        <input type="text" size="40" required name="content">
                    </div>
                    <input type="text" hidden name="postedBy" value="<%= user._id %>">
                    <button type="submit" class="btn btn-primary review-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Send</button>
                </form>                
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>