<%- include('../partials/header') %>

    <h1>Drink details check</h1>

    <div id="show-page">

        <div class="show-image">
            <img src="<%=drink.imageUrl%>">
        </div>

        <div class="show-details">

            <button type="submit" class="btn btn-primary del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Update Drink</button>

            <% if (user.drinks.includes(drink._id)) { %>
                
                <form action="/drinks/<%= drink._id %>/myBooze/?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-primary del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Unsave Drink</button>    
                </form>
    

            <% } else { %>

                
                <form action="/drinks/<%= drink._id %>/myBooze" method="POST">
                    <button type="submit" class="btn btn-primary del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Save Drink</button>
                </form>


            <% } %>
             
            <div>
            <h1>
                <%=drink.drink%>
            </h1>
            <p>Prep time: <%=drink.prepTime%></p><br>
            <p>Servings: <%=drink.servings%></p><br>
            <p>Ingredients: <%=drink.ingredients%></p><br>
            <p>Instructions: <%=drink.prepTime%></p><br>
            <p>Garnish: <%=drink.prepTime%></p><br>
            <p>Alcohol: <%=drink.servings%></p><br>
            </div>

            </form>
            <br>
            <form action="/drinks/<%=drink._id%>?_method=PUT" method="POST">
                <p>Drink: </p>
                <input type="text" name="drink" value="<%=drink.drink%>"><br>
                <p>Prep time: </p>
                <input type="number" name="prepTime" value="<%=drink.prepTime%>" required max="99" min="1" maxlength="2"
                    class="input"><br>
                    
            </form>
        </div>
    </div>

    <% if (drink.reviews.length) { %>

        <% drink.reviews.forEach(r=> { %>

            <img src="<%= r.postedBy.avatar %>">
            <p>Name: <%= r.postedBy.name %></p>
            <p>Rate: <%= r.rating %></p>
            <p>Review: <%= r.content %></p><br>

            <% }) %>

                <% } %>

                    <form action="/drinks/<%=drink._id%>" method="POST">
                        <p>Rate(1-5): </p>
                        <select name="rating">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <p>Leave a Review: </p>
                        <input type="text" name="content"><br>
                        <input type="text" hidden name="postedBy" value="<%= user._id %>">
                        <button type="submit">Post review</button>
                    </form>

                    <a href="/drinks">Back to Index</a>

<%- include('../partials/footer.ejs') %>