<%- include('../partials/header') %>

    <div id="show-page">

        <div class="show-image">
            <img src="<%=drink.imageUrl%>">
        </div>

        <div class="show-details">

            <div class="drink-recipe">
                <h1>
                    <%=drink.drink%>
                </h1>
                <p>Prep time: <%=drink.prepTime%> || Servings: <%=drink.servings%></p>
                <p>Ingredients: <%=drink.ingredients%></p>
                <p>Instructions: <%=drink.prepTime%></p>
                <p>Garnish: <%=drink.prepTime%></p>
                <p>Alcohol: <%=drink.servings%></p>
            </div>

            <div><%= drink.postedBy.toString() %> <%= user._id.toString() %></div>
            <div><%= drink.postedBy == user._id %></div>

            <div class="show-btns">
                <% if (drink.postedBy.toString() === user._id.toString()) { %>
                    <a href="/drinks/<%= drink._id %>/edit" class="btn btn-primary del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Update Drink</a>                
                
                
                <% } else { %>
                 
                    <% if (user.drinks.includes(drink._id)) { %>
                        <form action="/drinks/<%= drink._id %>/myBooze/?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-warning del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Unsave Drink</button>    
                        </form>
                    <% } else { %>
                        <form action="/drinks/<%= drink._id %>/myBooze" method="POST">
                            <!-- /*Add data to your form*/  -->
                            <input type="text" value="<%= drink._id %>" hidden name="drinkId"> 
                            <button type="submit" class="btn btn-success del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Save Drink</button>
                        </form>
                    <% } %>
                <% } %>
            </div>   
        
            
        </div>
    

    <div class="reviews">
        
        <% if (drink.reviews.length) { %>
            
            <% drink.reviews.forEach(r=> { %>

            <div class="review-out">
                <div class="rev-profile">
                    <img class="review-avatar" src="<%= r.postedBy.avatar %>">
                    <span class="rev-name"><%= r.postedBy.name %></span>
                    
                    
                </div>
                <div class="rev-content"> 
                <span class="stars">
                <% if (r.rating === 1) { %>
                    ⭐
                <% } else if (r.rating === 2) { %>
                   ⭐⭐
                <% } else if (r.rating === 3) { %>
                    ⭐⭐⭐
                <% } else if (r.rating === 4) { %>
                    ⭐⭐⭐⭐
                <% } else { %>
                    ⭐⭐⭐⭐⭐
                <% } %></span>
                <span class="content-text">"<%= r.content %>"</span>
                <%= user.createdAt.toLocaleString().split(',')[0] %>
                </div>

                    
            </div>
                <% }) %>
               
    
        <% } %>
        <div class="review-in">
            <form action="/drinks/<%=drink._id%>" method="POST">
                <span>Rate(1-5): </span>
                <select name="rating">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span>Leave a Review: </span>
                <input type="text" size="40" name="content">
                <input type="text" hidden name="postedBy" value="<%= user._id %>">
                <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Post review</button>
                
            </form>                
        </div>

    </div>

</div> 
    

<%- include('../partials/footer.ejs') %>