<%- include('../partials/header') %>

<h1>Drink details check</h1>


    
    <output value="drink">Drink: <%=drink.drink%></output>
    
    <output value="prepTime">Prep time: <%=drink.prepTime%></output>
    
</form>
<br>
<form action="/drinks/<%=drink._id%>?_method=PUT" method="POST">
    <a>Drink: </a>
    <input type="text" name="drink" value="<%=drink.drink%>"><br>
    <a>Prep time: </a>
    <input type="number" name="prepTime" value="<%=drink.prepTime%>" required max="99" min="1" maxlength="2" class="input"><br>
    <button type="submit">Update drink</button>
</form>



<% if (drink.reviews.length) { %>

    <% drink.reviews.forEach(r => { %>
        
    <a>Rate:</a>
    <%= r.rating %><br>
    <a>Review:</a>
    <%= r.content %><br>

    <% }) %>
    

<% } %>



<form action="/drinks/<%=drink._id%>" method="POST">
    <a>Rate(1-5): </a>
    <select name="rating">
        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <a>Leave a Review: </a>
    <input type="text" name="content"><br>
    <button type="submit">Post review</button>
</form>


<a href="/drinks">Back to Index</a>

<%- include('../partials/footer.ejs') %>


