
<%- include('../partials/header') %>
<!-- begin profile info -->
<div class="profile-details">
    <img src="<%= user.avatar %>">
    <a>Name: <%= user.name %><br>email: <%= user.email %></a><br>
    <a href="/drinks/new" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">New Drink</a>
</div>
<!-- end profile info -->

<div class="drinks-container">
    <% drinks.forEach(d => { %>
        <% if (d.postedBy.toString() === user._id.toString()) { %>
        
            <div id="user-drinks">
    
                <form action="/drinks/<%= d._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Delete</button>    
                </form>
                <a href="/drinks/<%= d.drink._id %>/edit" class="btn btn-primary updt" data-toggle="button" aria-pressed="false" autocomplete="off">Update Drink</a> 
            
                <div class="card bg-dark text-white" id="card-div">
            
                    <img class="card-img" src="<%= d.imageUrl %>" alt="<%= d.drink %>">
                    <div class="card-img-overlay" id="card-content">
                        <h5 class="card-title"><%= d.drink %></h5>
                        <a href="/drinks/<%= d._id %>" id="details-btn" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            
        <% } %>
    <% }) %>
    
    <% user.drinks.forEach(s => { %>
               
        <div id="user-drinks">                
            <% if (s.postedBy.toString() === user._id.toString()) { %>

                <form action="/drinks/<%= s._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-primary del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Delete</button>    
                </form>
            <% } else { %>

                <% if (!user.drinks.includes(s.drink._id)) { %>
                   
                    <form action="/users/<%= s._id %>/myBooze/?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-warning del-btn" data-toggle="button" aria-pressed="false" autocomplete="off">Unsave Drink</button>    
                    </form>
                <% } %>
                
            <% } %>  
                <div class="card bg-dark text-white" id="card-div">
            
                    <img class="card-img" src="<%= s.imageUrl %>" alt="<%= s.drink %>">
                    <div class="card-img-overlay" id="card-content">
                        <h5 class="card-title"><%= s.drink %></h5>
                        <a href="/drinks/<%= s._id %>" id="details-btn" class="btn btn-primary">Details</a>
                    </div>
                </div>
            
        </div>
    
    <% }) %>
            
</div>

<%- include('../partials/footer') %>
