
<%- include('../partials/header') %>

<div class="avatar"><img src="<%= user.avatar %>"></div>
<div class="name">Name: <%= user.name %></div>
<div class="name">Name: <%= user.drink %></div>


<a href="/drinks/">All drinks</a>


<%- include('../partials/footer') %>
