
<%- include('../partials/header') %>



<div class="avatar"><img src="<%= user.avatar %>"></div>
<div class="name">Name: <%= user.name %></div>

<% drinks.forEach(d => { %>
 

    <div class="name">Name: <%= d.drink %></div>

    <% }) %>

<a href="/drinks/">All drinks</a>


<%- include('../partials/footer') %>
