
<%- include('../partials/header') %>



<div class="avatar"><img src="<%= user.avatar %>"></div>
<div class="name">Name: <%= user.name %></div>

<% drinks.forEach(d => { %>

    <div>Drinks posted by me: <%= d.drink %></div>

<% }) %>

????????????????????????????????????????????
<% if (user.length) { %>

<% user.forEach(u => { %>

    <div>Drinks I saved: <%= u.drinks %></div>

<% }) %>
<% } %>


<a href="/drinks/">All drinks</a>

<%- include('../partials/footer') %>
